<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xzit.mrts.dao.UserMapper">

	<resultMap type="cn.edu.xzit.mrts.DTO.UserDTO" id="User">
		<id property="id" column="id" javaType="Integer" />
		<result property="username" column="username" javaType="String" />
		<result property="password" column="password" javaType="String" />
		<result property="rid" column="rid" javaType="Integer" />
		<result property="gid" column="gid" javaType="Integer" />
	</resultMap>

	<sql id="baseMap">
		id,username,password,rid,gid
	</sql>
	<sql id="baseMapWithoutPassword">
		id,username,rid,gid
	</sql>

	<select id="getUserByUsername" parameterType="String" resultMap="User">
		select
		<include refid="baseMap"></include>
		from user where username = #{username}
	</select>
	
	<select id="getUserList" resultMap="User">
		select
		<include refid="baseMapWithoutPassword"></include>
		from user order by id
	</select>

</mapper>